/* Days (1-31) */
.day {
    padding: 10px 0;
    background: #eee;
    margin: 0;
  }
  
  
  /* Highlight the "current" day */
.active {
    background: #1abc9c;
}

.day:hover {
    background: #1abc9c
}